.paraCOntainer
{
    background-color: rgba(71, 71, 71, 0.589);
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 12px;
    color: white;
}
.paraCOntainer div
{
    display: flex;
    width: 75%;
    margin:0 5%;
    gap: 10px;
    padding: 2%;
}

.paraCOntainer div p
{
    font-family: "Poppins", serif;
}

#id1
{
    width: 15%;
    gap:1px;
    font-size: 10px;
    text-wrap: nowrap;
    
}
#id1 div
{
    display: flex;
    flex-direction: column;
    gap:0;
}