nav
{
    display: flex;
    max-width: 1377px;
    position: fixed;
    margin: 0px auto;
    left: 14.1%;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;  
}


.options
{
    display: flex;
    flex-wrap: wrap;
    width: 30%;   
    height: 5vh;
    box-sizing: border-box;     
    justify-content:center;
    gap: 3%;
    align-items: center;
    background-color: rgba(71, 71, 71, 0.589);
    border-radius: 7px;
    padding: 0px;


}

.logo img
{
    height: 10vh;
    
}
